{% extends "base.html" %}
{% load i18n %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/warehouse.js"></script>
{% endblock %}

{% block heading %}
{% if user.is_staff %}
<a href="{% url wh:item %}">{% trans "Items" %}</a> | <a href="{% url wh:itemtype %}">{% trans "Item types" %}</a> |
{% endif %} 

<a href="{% url wh:mystuff %}">{% trans "My stuff" %}</a>
<hr>

<div id="delete-confirm" title='{% trans "Are you sure?" %}' style='display: none;'>
<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>{% trans "Are you sure you want to delete given item?" %}</p>
</div>

<div id="messagebox" title='{% trans "Notice" %}'></div>

{% endblock %}
