{% extends "base_warehouse.html" %}
{% load i18n %}

{% block content %}
    <table  border="0" width="100%" class="listing">
        <thead>
        <tr>
        <th>{% trans "Id" %}</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Note" %}</th>
        <th>{% trans "Mac" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Location" %}</th>
        <th>{% trans "Status changed" %}</th>
        <th>{% trans "Date added" %}</th>
        <th>{% trans "Last change" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for i in instance_list %}
        <tr>
            <td>{{ i.id }}</td>
            <td> <a href="{% url wh:instance-detail pk=i.id %}">{{ i.name }}</a></td>
            <td>{{ i.note }}</td>
            <td>{{ i.mac }}</td>
            <td>{{ i.status }}</td>
            <td>{{ i.location }}</td>
            <td>{{ i.status_change }}</td>
            <td>{{ i.date_added }}</td>
            <td>{{ i.last_change }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}