{% extends "base_warehouse.html" %}
{% load i18n %}

{% block content %}

<form action="{% url wh:instances %}" method="post">{% csrf_token %}

<p>{% trans "Please add an instance of router, antenna or t-shirt to the warehouse database." %} </p><br/>

<div class="fieldWrapper">
    <b>{{ form.item.errors }}</b>
    {% trans form.item.label_tag %}: {{ form.item }}
</div>

<div class="fieldWrapper">
    <b>{{ form.name.errors }}</b>
    {% trans form.name.label_tag %}: {{ form.name }}
</div>

<div class="fieldWrapper">
    <b>{{ form.status.errors }}</b>
    {% trans form.status.label_tag %}: {{ form.status }}
</div>

<br/>
<p>{% trans "Does your object have MAC address?" %}</p>

<div class="fieldWrapper">
    <b>{{ form.mac.errors }}</b>
    {% trans form.mac.label_tag %}: {{ form.mac }}
</div>

</br>
<p>{% trans "Would you like to specify more than one instance of the same item type? This field is suitable for small and cheap objects in large quantities (t-shirts, connectors)." %}</p>

<div class="fieldWrapper">
    <b>{{ form.amount.errors }}</b>
    {% trans form.amount.label_tag %}: {{ form.amount }}
</div>

<br/>
<p>{% trans "Please set instance location." %}</p>
<br/>

<div class="fieldWrapper">
    <b>{{ form.node.errors }}</b>
    {% trans form.node.label_tag %}: {{ form.node }}
</div>

<div class="fieldWrapper">
    <b>{{ form.location.errors }}</b>
    {% trans form.location.label_tag %}: {{ form.location }}
</div>

<div class="fieldWrapper">
    <b>{{ form.member.errors }}</b>
    {% trans form.member.label_tag %}: {{ form.member }}
</div>

<br/>
<input type="submit" value="{% trans "Submit" %}" />
</form>

<br/>

<h3>{% trans "Warehouse contents" %}</h3>

<table  border="0" width="100%" class="listing">
    <thead>
    <tr>
    <th>{% trans "Id" %}</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Note" %}</th>
    <th>{% trans "Mac" %}</th>
    <th>{% trans "Amount" %}</th>
    <th>{% trans "Status" %}</th>
    <th>{% trans "Location" %}</th>
    <th>{% trans "Status changed" %}</th>
    <th>{% trans "Date added" %}</th>
    <th>{% trans "Last change" %}</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    {% for i in instance_list %}
    <tr>
        <td>{{ i.id }}</td>
        <td> <a href="{% url wh:instance-detail pk=i.id %}">{{ i.name }}</a></td>
        <td>{{ i.status }}</td>
        <td>{{ i.location }}</td>
        <td>{{ i.note }}</td>
        <td>{{ i.mac }}</td>
        <td>{{ i.status_change }}</td>
        <td>{{ i.date_added }}</td>
        <td>{{ i.last_change }}</td>
        <td>Delete</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}