{% extends "base_warehouse.html" %}
{% load i18n %}
{% load ware_tags %}

{% block content %}
<form action="{% url wh:item %}" method="post">{% csrf_token %}

<p>{% trans "Please add an items (router, antenna or t-shirt) to the warehouse database." %} </p><br/>

<b>Specification</b>

<div class="fieldWrapper">
    <b>{{ form.item_type.errors }}</b>
    {% trans form.item_type.label_tag %}: {{ form.item_type }}
</div>

<div class="fieldWrapper">
    <b>{{ form.note.errors }}</b>
    {% trans form.note.label_tag %}: {{ form.note }}
</div>

<div class="fieldWrapper">
    <b>{{ form.status.errors }}</b>
    {% trans form.status.label_tag %}: {{ form.status }}
</div>

<br/>
<p>{% trans "Does your object have MAC address?" %}

<select id='mac_address'>
<option value='0'>No</option>
<option value='1'>Yes</option>
</select>
</p>

<div id='mac_address_1' style='display: none;'>
    <b>{{ form.mac.errors }}</b>
    {% trans form.mac.label_tag %}: {{ form.mac }}
</div>

</br>
<p>{% trans "Would you like to specify more than one 'non-individual' item (connector, t-shirt) of the same type?" %}
<select id='individual_item'>
<option value='0'>No</option>
<option value='1'>Yes</option>
</select>
</p>

<div id="individual_item_1" style='display: none;'>
    <b>{{ form.amount.errors }}</b>
    {% trans form.amount.label_tag %}: {{ form.amount }}
</div>

<br/>
<b>Location</b>
<p>{% trans "Would you like specify item location (node or warehouse)?" %}
    <select id='assign_location'>
    <option value='0'>No</option>
    <option value='1'>Yes, to node.</option>
    <option value='2'>Yes, to location.</option>
    </select>
</p>
<br/>
<div id='assign_location_1' style='display: none;'>
<b>{{ form.node.errors }}</b>
{% trans form.node.label_tag %}: {{ form.node }}
</div>

<div id='assign_location_2' style='display: none;'>
<b>{{ form.location.errors }}</b>
{% trans form.location.label_tag %}: {{ form.location }}
</div>

<b>Ownership</b>
<p>{% trans "Would you like to assign the owner?" %}
    <select id='assign_item'>
    <option value='0'>No</option>
    <option value='1'>Yes, assign to nodewatcher user.</option>
    <option value='2'>Yes, assign to person.</option>
    </select>
</p>
<br/>

<div id='assign_item_1' style='display: none;'>
<b>{{ form.member.errors }}</b>
{% trans form.member.label_tag %}: {{ form.member }}
</div>

<div id='assign_item_2' style='display: none;'>
    <div>
    <b>{{ form.person.errors }}</b>
    {% trans form.person.label_tag %}: {{ form.person }}
    </div>
    <div>
    <b>{{ form.phone.errors }}</b>
    {% trans form.phone.label_tag %}: {{ form.phone }}
    </div>
    <div>
    <b>{{ form.email.errors }}</b>
    {% trans form.email.label_tag %}: {{ form.email }}
    </div>
</div>
<br/>
<input type="submit" value="{% trans "Add new item" %}" />
</form>

<br/>
Bulk actions:

<a href='#' onClick='javascript:generate_labels();'>Generate printable labels</a> | <a href='#' >Delete</a>

<br/><br/>

<h3>{% trans "Warehouse contents" %}</h3>

<table  border="0" width="100%" class="listing" id="items_table">
    <thead>
    <tr>
    <th>{% trans "Id" %}</th>
    <th>{% trans "Item" %}</th>
    <th>{% trans "Note" %}</th>
    <th>{% trans "Status" %}</th>
    <th>{% trans "Mac" %}</th>
    <th>{% trans "Amount" %}</th>
    <th>{% trans "Ownership" %}</th>
    <th>{% trans "Location" %}</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    {% for i in item_list %}
    <tr>
        <td>{{ i.id }}</td>
        <td><a href="{% url wh:item-detail pk=i.id %}">{{ i.item_type.nice_repr }}</a></td>
        <td>{{ i.note }}</a></td>
        <td>{{ i.status }}</td>
        <td>{{ i.mac }}</td>
        <td>{{ i.amount|default:""}}</td>
        <td>{{ i|nice_ownership }}</td>
        <td>{{ i|nice_location }}</td>
        <td><a href='#' onClick='javascript:show_delete_warning("{% url wh:item-delete pk=i.id %}")'>Delete</a></td>
        <td><a href='{% url wh:item-edit pk=i.id %}'>Edit</a></td>
        <td><input type='checkbox' id='cb_{{i.id}}' value='{{i.id}}'></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
var labels_url = "{% url wh:item-printlabel items='PLACEHOLDER' %}";

$(document).ready(function() {
    set_drop_down("#mac_address");
    set_drop_down("#individual_item");
    set_drop_down("#assign_item");
});
</script>
{% endblock %}